DATABASE_URI=postgresql://user:password@host/dbname?sslmode=require



DATABASE_CA=postgres-ca.pem
DATABASE_SSL_NO_VERIFY=false
DATABASE_POOL_MAX=5

PAYLOAD_SECRET=change-me

S3_BUCKET=random-bucket
S3_ACCESS_KEY_ID=random-access-key
S3_SECRET_ACCESS_KEY=random-secret
S3_REGION=random-region
S3_ENDPOINT=
